.codejar-linenumbers {
    font-family: monospace !important;
    font-size: 1em !important;
    text-align: left !important;
    line-height: 1.5 !important;
    padding: 1em !important;
    margin: 0.5em 0 !important;
    overflow: auto !important;
}
